<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="refresh" content="5;url=/menu">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/img/favicon.ico">
    <title>Register</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body class="text-center">
    <p>User ${name} successfully registered.</p>
</body>
</html>