<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/img/favicon.ico">
    <title>Register</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body class="text-center">
    <form class="form-signin" action="register" method="post">
        <img class="mb-4" src="/assets/img/logo.png">
        <h1 class="h3 mb-3 font-weight-normal">Please register</h1>
        <input class="form-control" name="name" placeholder="Name" required>
        <input class="form-control" name="login" placeholder="Login (email)" required>
        <select name="group" class="form-control">
            <#list groups as g>
            <option value="${g.id}">${g.name}</option>
        </#list>
        </select>
        <input class="form-control" type="password" name="passwd1" id="inputPassword1" placeholder="Password" required>
        <input class="form-control" type="password" name="passwd2" id="inputPassword2" placeholder="Password (repeat)" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
        <a class="btn btn-lg btn-primary btn-block" href="/login">Sign in</a>
        <p class="mt-5 mb-3 text-muted">&copy; Dan.IT 2018</p>
    </form>
</body>
</html>